build/
sql/
WebContent/WEB-INF/DatabaseConnection.xml
src/DatabaseConnection.xml
WebContent/WEB-INF/ra-storage/
.settings/
.svn/
.classpath
.project
.tern-project

.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting


!gradle-wrapper.jar

# Cache of project
.gradletasknamecache


/bin/
